* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: royalblue;
}

/* section 1 - Header */
header {
    background-color: paleturquoise;
    background-image: url('image/space.png');
    background-attachment:  fixed;
    padding: 50px;
}
#sec1 /* Jump to */{
    padding: 25px 0px;
}
#h {
    text-align: center;
    color: white;
    font-family: 'Courier New', monospace;
}

/* section 2 - introduce myself */
.sec2 {
    text-align: center;
    color: steelblue;
}
.table {
    margin:auto;
    margin-bottom: 100px;
}
#intro {
    padding: 12px 0px;
}
#S1 {
        padding-bottom: 15px;
}

/* section 3 - Interest and Skill */
.sec3 {
    text-align: center;
    margin-bottom: 100px;
    color:steelblue;
}
#skill {
    padding-bottom: 15px;
    padding-top: 15px;
}
#para1 {
    margin-bottom: 20px;
}
#S2 {
        padding-bottom: 15px;
    }
.list {
    color: chocolate;
    border: solid goldenrod;
    background-color: blanchedalmond;
    border-radius: 10px;
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    text-align: left;
}

/* section 4 - Forms*/
form {
    width: 500px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    color: teal
}
#S3 {
    padding-top: 30px;
}
.sec4 {
    text-align: center;
    border-style: solid;
    border-color: skyblue;
    border-radius: 20px;
    background-color: lightcyan;
    width: 700px;
    margin: auto;
}
#last {
    padding-bottom: 15px;
}

nav {
    display: flex;
    font-size: 15pt;
    text-align: center;
    background-color: rgb(30, 30, 30);
}
/* link */
nav a:link {
    color: goldenrod;
    padding:12px;
    text-decoration: none;  
    }
nav a:hover {
    color: hotpink;
    background-color: gray;
    }
nav a:visited {
    color: goldenrod;
    text-decoration: none;
    }

h3 {
    color:teal;
}
main {
    border: solid white;
    border-radius: 20px;
    margin: 50px 150px;
    padding: 10px 25px;
    background-color: white;
    /* link */
    a:link {
        color: steelblue;
    }
    a:visited {
        color: steelblue;
    }
    a:hover {
        color: skyblue;
    }
} 

/* footer */
footer{
    background-color: paleturquoise;
    background-image: url('image/space.png');
    background-attachment:  fixed;
    color: white;
    font-family: 'Courier New', monospace;
    text-align: left;
    padding: 20px 30px;*/
    /* link */
}
footer p {
    padding: 5pt;
    a:link {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: skyblue;
        text-decoration: none;
    }
    a:visited {
        color: white;
        text-decoration: none;
    }
}